<header class="header">
    <nav role="navigation" data-za-category="TopNav" aria-label="main" data-display-my-zillow="true" class="headerNavigation">
        <div class="btnHamburgerBox">
            <button class="btnHamburger" type="button" aria-label="Open navigation">
            <span class="pfs__sc-103s6w0-1 gkOmOu">
                <span class="pfs__sc-103s6w0-2 ixkqdg"></span>
            </span>
            </button>
            <a href="/" aria-label="Zillow Real Estate" accesskey="1" data-za-action="Zillow logo click" data-za-category="!inherit" version="SEARCH_MOBILE_ONLY" width="120" height="25" class="Anchor-c11n-8-100-6__sc-hn4bge-0 pfs__j60ma-0 dXQUgD gmnfCD znav-topnav-logo">
                <img src="https://s.zillowstatic.com/pfs/static/z-logo-default.svg" type="image/svg+xml" alt="Zillow logo" focusable="false" height="25" width="120" class="pfs__j60ma-1 hiOroW" loading="eager" decoding="auto">
                <img src="https://s.zillowstatic.com/pfs/static/z-logo-icon.svg" type="image/svg+xml" alt="Zillow logo" focusable="false" height="25" class="pfs__j60ma-2 eJHqAG" loading="eager" decoding="auto">
            </a>
            <ul data-zg-section="reg-login" data-display-my-zillow="true" class="regLogin">
                <li class="pfs__sc-585qe5-0">
                    <a class="Anchor-c11n-8-100-6__sc-hn4bge-0 pfs__sc-1dpbk03-0 dXQUgD bwzhb" href="/user/acct/login/?cid=pf" data-za-action="Sign in" data-za-category="!inherit" data-active="false" data-zg-role="section-title">
                        <div class="pfs__sc-1etb9mm-1 jBqzjp">Sign In</div>
                    </a>
                </li>
                <li class="pfs__sc-585qe5-0">
                    <a class="Anchor-c11n-8-100-6__sc-hn4bge-0 pfs__sc-1dpbk03-0 dXQUgD bwzhb" href="/user/acct/register/?cid=pf" data-za-action="Join" data-za-category="!inherit" data-active="false" data-zg-role="section-title">
                        <span>Join<!-- --> </span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="nav-linksbx">
            <div class="pfs__sc-1vxjlvm-0 hrNwIz">
                <a href="/" title="Zillow Real Estate" data-za-action="Zillow logo click" data-za-category="!inherit" data-display-my-zillow="true" class="Anchor-c11n-8-100-6__sc-hn4bge-0 dXQUgD">Homepage</a>
            </div>
            <ul data-zg-section="main" class="mainMenuLeft">
                <li class="pfs__sc-585qe5-0">
                    <a class="Anchor-c11n-8-100-6__sc-hn4bge-0 pfs__sc-1dpbk03-0 dXQUgD bwzhb noroute" href="/homes/for_sale/" data-za-action="Buy" data-za-category="!inherit" data-active="false" data-zg-role="section-title">
                        <span>Buy<!-- --> </span>
                    </a>
                    <button type="button" aria-label="Open Buy sub-menu" class="pfs__sc-1psx3f8-0 eyrDW">
                        <span class="VisuallyHidden-c11n-8-100-6__sc-t8tewe-0 iYHcPE">Open Buy sub-menu</span>
                        <svg viewBox="0 0 32 32" aria-hidden="true" focusable="false" role="img" class="Icon-c11n-8-100-6__sc-13llmml-0 jlRhlp">
                            <path stroke="none" d="M29.41 8.59a2 2 0 00-2.83 0L16 19.17 5.41 8.59a2 2 0 00-2.83 2.83l12 12a2 2 0 002.82 0l12-12a2 2 0 00.01-2.83z"></path>
                        </svg>
                    </button>
                    <div data-za-label="Buy">
                        <div class="pfs__xukzw9-0 bTwlyA">
                            <div data-zg-role="drop-down-content" class="pfs__xukzw9-1 gSaOWc">
                                <ul class="pfs__xukzw9-2 ccTjfY">
                                    <li>
                                        <h6 class="pfs__sc-1449t2l-0 devUbu">Jersey City homes for sale</h6>
                                        <ul class="pfs__c1z80u-0 kkneuv">
                                            <li>
                                                <ul class="pfs__ryrjop-0 MtKQu">
                                                    <li>
                                                        <a href="/jersey-city-nj/" rel="" data-za-action="Homes for sale" data-za-label="!inherit" data-za-category="!inherit" class="Anchor-c11n-8-100-6__sc-hn4bge-0 pfs__ulmj52-0 dXQUgD gBaTsW">
                                                            <span>Homes for sale </span>
                                                        </a>
                                                    </li>
                                                    <li><a href="/jersey-city-nj/foreclosures/" rel="" data-za-action="Foreclosures" data-za-label="!inherit" data-za-category="!inherit" class="Anchor-c11n-8-100-6__sc-hn4bge-0 pfs__ulmj52-0 dXQUgD gBaTsW"><span>Foreclosures </span></a></li>
                                                    <li><a href="/jersey-city-nj/fsbo/" rel="" data-za-action="For sale by owner" data-za-label="!inherit" data-za-category="!inherit" class="Anchor-c11n-8-100-6__sc-hn4bge-0 pfs__ulmj52-0 dXQUgD gBaTsW"><span>For sale by owner </span></a></li>
                                                    <li><a href="/jersey-city-nj/open-house/" rel="" data-za-action="Open houses" data-za-label="!inherit" data-za-category="!inherit" class="Anchor-c11n-8-100-6__sc-hn4bge-0 pfs__ulmj52-0 dXQUgD gBaTsW"><span>Open houses </span></a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <ul class="pfs__ryrjop-0 MtKQu">
                                                    <li><a href="/jersey-city-nj/new-homes/" rel="" data-za-action="New construction" data-za-label="!inherit" data-za-category="!inherit" class="Anchor-c11n-8-100-6__sc-hn4bge-0 pfs__ulmj52-0 dXQUgD gBaTsW"><span>New construction </span></a></li>
                                                    <li><a href="/jersey-city-nj/coming-soon/" rel="" data-za-action="Coming soon" data-za-label="!inherit" data-za-category="!inherit" class="Anchor-c11n-8-100-6__sc-hn4bge-0 pfs__ulmj52-0 dXQUgD gBaTsW"><span>Coming soon </span></a></li>
                                                    <li><a href="/jersey-city-nj/sold/" rel="" data-za-action="Recent home sales" data-za-label="!inherit" data-za-category="!inherit" class="Anchor-c11n-8-100-6__sc-hn4bge-0 pfs__ulmj52-0 dXQUgD gBaTsW"><span>Recent home sales </span></a></li>
                                                    <li><a href="/browse/homes/" rel="" data-za-action="All homes" data-za-label="!inherit" data-za-category="!inherit" class="Anchor-c11n-8-100-6__sc-hn4bge-0 pfs__ulmj52-0 dXQUgD gBaTsW"><span>All homes </span></a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><h6 class="pfs__sc-1449t2l-0 devUbu">Resources</h6>
                                        <ul class="pfs__c1z80u-0 kkneuv">
                                            <li>
                                                <ul class="pfs__ryrjop-0 MtKQu">
                                                    <li><a href="/learn/category/buying/" rel="" data-za-action="Home Buying Guide" data-za-label="!inherit" data-za-category="!inherit" class="Anchor-c11n-8-100-6__sc-hn4bge-0 pfs__ulmj52-0 dXQUgD gBaTsW"><span>Home Buying Guide </span></a></li>
                                                    <li><a href="/learn/tag/foreclosures/" rel="" data-za-action="Foreclosure center" data-za-label="!inherit" data-za-category="!inherit" class="Anchor-c11n-8-100-6__sc-hn4bge-0 pfs__ulmj52-0 dXQUgD gBaTsW"><span>Foreclosure center </span></a></li>
                                                    <li><a href="/buy/app-download/" rel="" data-za-action="Real estate app" data-za-label="!inherit" data-za-category="!inherit" class="Anchor-c11n-8-100-6__sc-hn4bge-0 pfs__ulmj52-0 dXQUgD gBaTsW"><span>Real estate app </span></a></li>
                                                    <li><a href="/down-payment-assistance/" rel="" data-za-action="Down payment assistance" data-za-label="!inherit" data-za-category="!inherit" class="Anchor-c11n-8-100-6__sc-hn4bge-0 pfs__ulmj52-0 dXQUgD gBaTsW"><span>Down payment assistance </span></a>
                                                    </li>
                                                    <li><a href="/professionals/real-estate-agent-reviews/" rel="" data-za-action="Find a buyer's agent" data-za-label="!inherit" data-za-category="!inherit" class="Anchor-c11n-8-100-6__sc-hn4bge-0 pfs__ulmj52-0 dXQUgD gBaTsW"><span>Find a buyer's agent </span></a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="pfs__sc-585qe5-0"><a class="Anchor-c11n-8-100-6__sc-hn4bge-0 pfs__sc-1dpbk03-0 dXQUgD bwzhb noroute" href="/jersey-city-nj/rentals/" data-za-action="Rent" data-za-category="!inherit" data-active="false" data-zg-role="section-title"><span>Rent<!-- --> </span></a>
                    <button type="button" aria-label="Open Rent sub-menu" class="pfs__sc-1psx3f8-0 eyrDW"><span class="VisuallyHidden-c11n-8-100-6__sc-t8tewe-0 iYHcPE">Open Rent sub-menu</span>
                        <svg viewBox="0 0 32 32" aria-hidden="true" focusable="false" role="img" class="Icon-c11n-8-100-6__sc-13llmml-0 jlRhlp">
                            <path stroke="none" d="M29.41 8.59a2 2 0 00-2.83 0L16 19.17 5.41 8.59a2 2 0 00-2.83 2.83l12 12a2 2 0 002.82 0l12-12a2 2 0 00.01-2.83z"></path>
                        </svg>
                    </button>
                    <div data-za-label="Rent">
                        <div class="pfs__xukzw9-0 bTwlyA">
                            <div data-zg-role="drop-down-content" class="pfs__xukzw9-1 gSaOWc">
                                <ul class="pfs__xukzw9-2 ccTjfY">
                                    <li><h6 class="pfs__sc-1449t2l-0 devUbu">Jersey City rentals</h6>
                                        <ul class="pfs__c1z80u-0 kkneuv">
                                            <li>
                                                <ul class="pfs__ryrjop-0 MtKQu">
                                                    <li><a href="/jersey-city-nj/apartments/" rel="" data-za-action="Apartments for rent" data-za-label="!inherit" data-za-category="!inherit" class="Anchor-c11n-8-100-6__sc-hn4bge-0 pfs__ulmj52-0 dXQUgD gBaTsW"><span>Apartments for rent </span></a>
                                                    </li>
                                                    <li><a href="/jersey-city-nj/rent-houses/" rel="" data-za-action="Houses for rent" data-za-label="!inherit" data-za-category="!inherit" class="Anchor-c11n-8-100-6__sc-hn4bge-0 pfs__ulmj52-0 dXQUgD gBaTsW"><span>Houses for rent </span></a></li>
                                                    <li><a href="/jersey-city-nj/rentals/" rel="" data-za-action="All rental listings" data-za-label="!inherit" data-za-category="!inherit" class="Anchor-c11n-8-100-6__sc-hn4bge-0 pfs__ulmj52-0 dXQUgD gBaTsW"><span>All rental listings </span></a></li>
                                                    <li><a href="/browse/b/" rel="" data-za-action="All rental buildings" data-za-label="!inherit" data-za-category="!inherit" class="Anchor-c11n-8-100-6__sc-hn4bge-0 pfs__ulmj52-0 dXQUgD gBaTsW"><span>All rental buildings </span></a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><h6 class="pfs__sc-1449t2l-0 devUbu">Your search</h6>
                                        <ul class="pfs__c1z80u-0 kkneuv">
                                            <li>
                                                <ul class="pfs__ryrjop-0 MtKQu">
                                                    <li><a href="/myzillow/SavedSearches" rel="" data-za-action="Saved searches" data-za-label="!inherit" data-za-category="!inherit" class="Anchor-c11n-8-100-6__sc-hn4bge-0 pfs__ulmj52-0 dXQUgD gBaTsW"><span>Saved searches </span></a></li>
                                                    <li><a href="/renter-hub/inbox/" rel="" data-za-action="Messages" data-za-label="!inherit" data-za-category="!inherit" class="Anchor-c11n-8-100-6__sc-hn4bge-0 pfs__ulmj52-0 dXQUgD gBaTsW"><span>Messages </span></a></li>
                                                    <li><a href="/renting/" rel="" data-za-action="Contacted rentals" data-za-label="!inherit" data-za-category="!inherit" class="Anchor-c11n-8-100-6__sc-hn4bge-0 pfs__ulmj52-0 dXQUgD gBaTsW"><span>Contacted rentals </span></a></li>
                                                    <li><a href="/renter-hub/applications/" rel="" data-za-action="Applications" data-za-label="!inherit" data-za-category="!inherit" class="Anchor-c11n-8-100-6__sc-hn4bge-0 pfs__ulmj52-0 dXQUgD gBaTsW"><span>Applications </span></a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><h6 class="pfs__sc-1449t2l-0 devUbu">Your rental</h6>
                                        <ul class="pfs__c1z80u-0 kkneuv">
                                            <li>
                                                <ul class="pfs__ryrjop-0 MtKQu">
                                                    <li><a href="/renting/your-rental/" rel="" data-za-action="Overview" data-za-label="!inherit" data-za-category="!inherit" class="Anchor-c11n-8-100-6__sc-hn4bge-0 pfs__ulmj52-0 dXQUgD gBaTsW"><span>Overview </span></a></li>
                                                    <li><a href="/renter-hub/payments/" rel="" data-za-action="Make a payment" data-za-label="!inherit" data-za-category="!inherit" class="Anchor-c11n-8-100-6__sc-hn4bge-0 pfs__ulmj52-0 dXQUgD gBaTsW"><span>Make a payment </span></a></li>
                                                    <li><a href="/renting/your-rental/" rel="" data-za-action="Your lease" data-za-label="!inherit" data-za-category="!inherit" class="Anchor-c11n-8-100-6__sc-hn4bge-0 pfs__ulmj52-0 dXQUgD gBaTsW"><span>Your lease </span></a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><h6 class="pfs__sc-1449t2l-0 devUbu">Resources</h6>
                                        <ul class="pfs__c1z80u-0 kkneuv">
                                            <li>
                                                <ul class="pfs__ryrjop-0 MtKQu">
                                                    <li><a href="/rent/renter-search-center/" rel="" data-za-action="Rent with Zillow" data-za-label="!inherit" data-za-category="!inherit" class="Anchor-c11n-8-100-6__sc-hn4bge-0 pfs__ulmj52-0 dXQUgD gBaTsW"><span>Rent with Zillow </span></a></li>
                                                    <li><a href="/rent/rent-payments-reporting/" rel="" data-za-action="Build your credit" data-za-label="!inherit" data-za-category="!inherit" class="Anchor-c11n-8-100-6__sc-hn4bge-0 pfs__ulmj52-0 dXQUgD gBaTsW"><span>Build your credit </span></a>
                                                    </li>
                                                    <li><a href="/rent/renters-insurance/" rel="" data-za-action="Renters insurance" data-za-label="!inherit" data-za-category="!inherit" class="Anchor-c11n-8-100-6__sc-hn4bge-0 pfs__ulmj52-0 dXQUgD gBaTsW"><span>Renters insurance </span></a></li>
                                                    <li><a href="/rent-affordability-calculator" rel="" data-za-action="Affordability calculator" data-za-label="!inherit" data-za-category="!inherit"
                                                           class="Anchor-c11n-8-100-6__sc-hn4bge-0 pfs__ulmj52-0 dXQUgD gBaTsW"><span>Affordability calculator </span></a></li>
                                                    <li><a href="/learn/category/renting/" rel="" data-za-action="Rent Guide" data-za-label="!inherit" data-za-category="!inherit" class="Anchor-c11n-8-100-6__sc-hn4bge-0 pfs__ulmj52-0 dXQUgD gBaTsW"><span>Rent Guide </span></a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="pfs__sc-585qe5-0"><a class="Anchor-c11n-8-100-6__sc-hn4bge-0 pfs__sc-1dpbk03-0 dXQUgD bwzhb" href="/sell/" data-za-action="Sell" data-za-category="!inherit" data-active="false" data-zg-role="section-title"><span>Sell<!-- --> </span></a>
                    <button type="button" aria-label="Open Sell sub-menu" class="pfs__sc-1psx3f8-0 eyrDW"><span class="VisuallyHidden-c11n-8-100-6__sc-t8tewe-0 iYHcPE">Open Sell sub-menu</span>
                        <svg viewBox="0 0 32 32" aria-hidden="true" focusable="false" role="img" class="Icon-c11n-8-100-6__sc-13llmml-0 jlRhlp">
                            <path stroke="none" d="M29.41 8.59a2 2 0 00-2.83 0L16 19.17 5.41 8.59a2 2 0 00-2.83 2.83l12 12a2 2 0 002.82 0l12-12a2 2 0 00.01-2.83z"></path>
                        </svg>
                    </button>
                    <div data-za-label="Sell">
                        <div class="pfs__xukzw9-0 bTwlyA">
                            <div data-zg-role="drop-down-content" class="pfs__xukzw9-1 gSaOWc">
                                <ul class="pfs__xukzw9-2 ccTjfY">
                                    <li><h6 class="pfs__sc-1449t2l-0 devUbu">Resources</h6>
                                        <ul class="pfs__c1z80u-0 kkneuv">
                                            <li>
                                                <ul class="pfs__ryrjop-0 MtKQu">
                                                    <li><a href="/sell/" rel="" data-za-action="Explore your options" data-za-label="!inherit" data-za-category="!inherit" class="Anchor-c11n-8-100-6__sc-hn4bge-0 pfs__ulmj52-0 dXQUgD gBaTsW"><span>Explore your options </span></a></li>
                                                    <li><a href="/how-much-is-my-home-worth/" rel="" data-za-action="See your home's Zestimate" data-za-label="!inherit" data-za-category="!inherit"
                                                           class="Anchor-c11n-8-100-6__sc-hn4bge-0 pfs__ulmj52-0 dXQUgD gBaTsW"><span>See your home's Zestimate </span></a></li>
                                                    <li><a href="/home-values/25320/jersey-city-nj/" rel="" data-za-action="Jersey City Home values" data-za-label="!inherit" data-za-category="!inherit"
                                                           class="Anchor-c11n-8-100-6__sc-hn4bge-0 pfs__ulmj52-0 dXQUgD gBaTsW"><span>Jersey City Home values </span></a></li>
                                                    <li><a href="/learn/category/selling/" rel="" data-za-action="Sellers guide" data-za-label="!inherit" data-za-category="!inherit" class="Anchor-c11n-8-100-6__sc-hn4bge-0 pfs__ulmj52-0 dXQUgD gBaTsW"><span>Sellers guide </span></a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><h6 class="pfs__sc-1449t2l-0 devUbu">Selling options</h6>
                                        <ul class="pfs__c1z80u-0 kkneuv">
                                            <li>
                                                <ul class="pfs__ryrjop-0 MtKQu">
                                                    <li><a href="/professionals/real-estate-agent-reviews/jersey-city-nj/?service=Selling" rel="" data-za-action="Find a seller's agent" data-za-label="!inherit" data-za-category="!inherit"
                                                           class="Anchor-c11n-8-100-6__sc-hn4bge-0 pfs__ulmj52-0 dXQUgD gBaTsW"><span>Find a seller's agent </span></a></li>
                                                    <li><a href="/for-sale-by-owner/" rel="" data-za-action="Post For Sale by Owner" data-za-label="!inherit" data-za-category="!inherit" class="Anchor-c11n-8-100-6__sc-hn4bge-0 pfs__ulmj52-0 dXQUgD gBaTsW"><span>Post For Sale by Owner </span></a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="pfs__sc-585qe5-0"><a class="Anchor-c11n-8-100-6__sc-hn4bge-0 pfs__sc-1dpbk03-0 dXQUgD bwzhb" href="/homeloans/?utm_source=zillow&amp;utm_medium=referral&amp;utm_campaign=Z_Mortgagestopnav#source=Z_Mortgagestopnav" data-za-action="Home Loans" data-za-category="!inherit"
                                                data-active="false" data-zg-role="section-title"><span>Home Loans<!-- --> </span></a>
                    <button type="button" aria-label="Open Home Loans sub-menu" class="pfs__sc-1psx3f8-0 eyrDW"><span class="VisuallyHidden-c11n-8-100-6__sc-t8tewe-0 iYHcPE">Open Home Loans sub-menu</span>
                        <svg viewBox="0 0 32 32" aria-hidden="true" focusable="false" role="img" class="Icon-c11n-8-100-6__sc-13llmml-0 jlRhlp">
                            <path stroke="none" d="M29.41 8.59a2 2 0 00-2.83 0L16 19.17 5.41 8.59a2 2 0 00-2.83 2.83l12 12a2 2 0 002.82 0l12-12a2 2 0 00.01-2.83z"></path>
                        </svg>
                    </button>
                    <div data-za-label="Home Loans">
                        <div class="pfs__xukzw9-0 bTwlyA">
                            <div data-zg-role="drop-down-content" class="pfs__xukzw9-1 gSaOWc">
                                <ul class="pfs__xukzw9-2 ccTjfY">
                                    <li class="pfs__zfaq10-0 dmPdBK">
                                        <div class="pfs__zfaq10-1 fiSqLF">
                                            <div class="Spacer-c11n-8-100-6__sc-17suqs2-0 bPIJkI">
                                                <svg viewBox="0 0 44 44" aria-hidden="true" focusable="false" role="img" status="info" class="DetailedIcon-c11n-8-100-6__sc-1u552bz-0 hObLJr">
                                                    <g>
                                                        <path class="DetailedIcon__secondary-color-fill"
                                                              d="M34.1,17.2,20.645,4.533a2.667,2.667,0,0,0-3.2,0L3.993,17.2a2.668,2.668,0,0,0-.948,2.039V39.333A2.667,2.667,0,0,0,5.711,42H32.378a2.667,2.667,0,0,0,2.667-2.667V19.24A2.666,2.666,0,0,0,34.1,17.2ZM24.378,39.333H13.711V28.667A2.667,2.667,0,0,1,16.378,26h5.333a2.667,2.667,0,0,1,2.667,2.667Z"></path>
                                                        <rect class="DetailedIcon__accent-color-fill" x="22.365" y="25.37" width="5.05" height="10.1"></rect>
                                                        <path class="DetailedIcon__foreground-color-fill"
                                                              d="M39.145,14.51,26.4,2.51a2.5,2.5,0,0,0-3.029,0l-12.75,12a2.515,2.515,0,0,0-.9,1.93V35.47A2.533,2.533,0,0,0,12.255,38h25.26a2.527,2.527,0,0,0,2.53-2.53V16.44A2.515,2.515,0,0,0,39.145,14.51ZM27.415,35.47h-5.05V25.37h5.05Zm10.1,0h-7.58V25.37a2.524,2.524,0,0,0-2.52-2.53h-5.05a2.527,2.527,0,0,0-2.53,2.53v10.1h-7.58V16.44l.05-.05.05-.04,12.53-11.8,12.53,11.8.05.04.05.05Z"></path>
                                                    </g>
                                                </svg>
                                            </div>
                                            <div><h6 class="Text-c11n-8-100-6__sc-aiai24-0 pfs__zfaq10-2 jxhWAb iDbKem">Started a loan application?</h6>
                                                <p class="Text-c11n-8-100-6__sc-aiai24-0 StyledParagraph-c11n-8-100-6__sc-e666if-0 jxhWAb pfs__zfaq10-3 iiRcOI">Pick up where you left off on your Zillow Home Loans dashboard.</p><a href="https://www.zillow.com/homeloans/mortgage/dashboard/login"
                                                                                                                                                                                                                                      class="StyledTextButton-c11n-8-100-6__sc-1nwmfqo-0 cAuRWQ">Home Loans
                                                    dashboard<span class="TextButtonIcon-c11n-8-100-6__sc-1penltx-0 dchIFS"><svg viewBox="0 0 32 32" aria-hidden="true" class="Icon-c11n-8-100-6__sc-13llmml-0 QGuVC IconChevronRightOutline-c11n-8-100-6__sc-1yzayyv-0 kgyJus" focusable="false"
                                                                                                                                 role="img"><path stroke="none" d="M29.7 8.8a1 1 0 00-1.4 0L16 21 3.7 8.8a1 1 0 00-1.4 0 1 1 0 000 1.4l13 13a1 1 0 001.4 0l13-13a1 1 0 000-1.4z"></path></svg></span></a>
                                            </div>
                                        </div>
                                    </li>
                                    <li><h6 class="pfs__sc-1449t2l-0 devUbu">Touring homes &amp; making offers</h6>
                                        <ul class="pfs__c1z80u-0 kkneuv">
                                            <li>
                                                <ul class="pfs__ryrjop-0 MtKQu">
                                                    <li><a href="/homeloans/?utm_source=zillow&amp;utm_medium=referral&amp;utm_campaign=Z_Mortgageshovertopnav#source=Z_Mortgageshovertopnav" rel="" data-za-action="Discover Zillow Home Loans" data-za-label="!inherit" data-za-category="!inherit"
                                                           class="Anchor-c11n-8-100-6__sc-hn4bge-0 pfs__ulmj52-0 dXQUgD gBaTsW"><span>Discover Zillow Home Loans </span></a></li>
                                                    <li><a href="/homeloans/eligibility/?utm_source=zillow&amp;utm_medium=referral&amp;utm_campaign=Z_Mortgageshovertopnav&amp;zga_z_guid=81b42147-bba3-433d-92b4-58338ff3423f" rel="" data-za-action="See how much you qualify for"
                                                           data-za-label="!inherit" data-za-category="!inherit" class="Anchor-c11n-8-100-6__sc-hn4bge-0 pfs__ulmj52-0 dXQUgD gBaTsW"><span>See how much you qualify for </span></a></li>
                                                    <li><a href="/mortgage-calculator/?utm_source=zillow&amp;utm_medium=referral&amp;utm_campaign=Z_Mortgageshovertopnav#source=Z_Mortgageshovertopnav" rel="" data-za-action="Estimate your monthly payment" data-za-label="!inherit"
                                                           data-za-category="!inherit" class="Anchor-c11n-8-100-6__sc-hn4bge-0 pfs__ulmj52-0 dXQUgD gBaTsW"><span>Estimate your monthly payment </span></a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><h6 class="pfs__sc-1449t2l-0 devUbu">Just getting started</h6>
                                        <ul class="pfs__c1z80u-0 kkneuv">
                                            <li>
                                                <ul class="pfs__ryrjop-0 MtKQu">
                                                    <li><a href="/mortgage-calculator/house-affordability/?utm_source=zillow&amp;utm_medium=referral&amp;utm_campaign=Z_Mortgageshovertopnav#source=Z_Mortgageshovertopnav" rel="" data-za-action="Calculate your budget" data-za-label="!inherit"
                                                           data-za-category="!inherit" class="Anchor-c11n-8-100-6__sc-hn4bge-0 pfs__ulmj52-0 dXQUgD gBaTsW"><span>Calculate your budget </span></a></li>
                                                    <li><a href="/learn/category/financing/?utm_source=zillow&amp;utm_medium=referral&amp;utm_campaign=Z_Mortgageshovertopnav#source=Z_Mortgageshovertopnav" rel="" data-za-action="Learn about the mortgage process" data-za-label="!inherit"
                                                           data-za-category="!inherit" class="Anchor-c11n-8-100-6__sc-hn4bge-0 pfs__ulmj52-0 dXQUgD gBaTsW"><span>Learn about the mortgage process </span></a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><h6 class="pfs__sc-1449t2l-0 devUbu">Explore more options</h6>
                                        <ul class="pfs__c1z80u-0 kkneuv">
                                            <li>
                                                <ul class="pfs__ryrjop-0 MtKQu">
                                                    <li><a href="/mortgage-rates/nj/jersey-city/?utm_source=zillow&amp;utm_medium=referral&amp;utm_campaign=Z_Mortgageshovertopnav#source=Z_Mortgageshovertopnav" rel="" data-za-action="See today's rates" data-za-label="!inherit"
                                                           data-za-category="!inherit" class="Anchor-c11n-8-100-6__sc-hn4bge-0 pfs__ulmj52-0 dXQUgD gBaTsW"><span>See today's rates </span></a></li>
                                                    <li><a href="/homeloans/refinance/?utm_source=zillow&amp;utm_medium=referral&amp;utm_campaign=Z_Mortgageshovertopnav&amp;zga_z_guid=81b42147-bba3-433d-92b4-58338ff3423f" rel="" data-za-action="Refinance your home" data-za-label="!inherit"
                                                           data-za-category="!inherit" class="Anchor-c11n-8-100-6__sc-hn4bge-0 pfs__ulmj52-0 dXQUgD gBaTsW"><span>Refinance your home </span></a></li>
                                                    <li><a href="/mortgage-calculator/refinance-calculator/?utm_source=zillow&amp;utm_medium=referral&amp;utm_campaign=Z_Mortgageshovertopnav#source=Z_Mortgageshovertopnav" rel="" data-za-action="Calculate your refinance savings"
                                                           data-za-label="!inherit" data-za-category="!inherit" class="Anchor-c11n-8-100-6__sc-hn4bge-0 pfs__ulmj52-0 dXQUgD gBaTsW"><span>Calculate your refinance savings </span></a></li>
                                                    <li><a href="/lender-directory/?utm_source=zillow&amp;utm_medium=referral&amp;utm_campaign=Z_Mortgageshovertopnav#source=Z_Mortgageshovertopnav" rel="" data-za-action="Browse lenders in your area" data-za-label="!inherit"
                                                           data-za-category="!inherit" class="Anchor-c11n-8-100-6__sc-hn4bge-0 pfs__ulmj52-0 dXQUgD gBaTsW"><span>Browse lenders in your area </span></a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="pfs__sc-585qe5-0"><a class="Anchor-c11n-8-100-6__sc-hn4bge-0 pfs__sc-1dpbk03-0 dXQUgD bwzhb" href="/professionals/real-estate-agent-reviews/jersey-city-nj/" data-za-action="Find an Agent" data-za-category="!inherit" data-active="false" data-zg-role="section-title"><span>Find an Agent
                    <!-- --> </span></a>
                    <button type="button" aria-label="Open Find an Agent sub-menu" class="pfs__sc-1psx3f8-0 eyrDW"><span class="VisuallyHidden-c11n-8-100-6__sc-t8tewe-0 iYHcPE">Open Find an Agent sub-menu</span>
                        <svg viewBox="0 0 32 32" aria-hidden="true" focusable="false" role="img" class="Icon-c11n-8-100-6__sc-13llmml-0 jlRhlp">
                            <path stroke="none" d="M29.41 8.59a2 2 0 00-2.83 0L16 19.17 5.41 8.59a2 2 0 00-2.83 2.83l12 12a2 2 0 002.82 0l12-12a2 2 0 00.01-2.83z"></path>
                        </svg>
                    </button>
                </li>
            </ul>
            <ul data-zg-section="marketing" data-display-my-zillow="true" data-display-agent="false" class="mainMenuRight">
                <li id="manage-rentals" class="pfs__sc-585qe5-0 znav-manage-rentals">
                    <a class="Anchor-c11n-8-100-6__sc-hn4bge-0 pfs__sc-1dpbk03-0 dXQUgD bwzhb noroute" href="/rental-manager/?source=topnav&amp;itc=postbutton_sitenav" data-za-action="Manage Rentals" data-za-category="!inherit" data-active="false" data-zg-role="section-title">
                        <span>Manage Rentals<!-- --> </span>
                    </a>
                    <button type="button" aria-label="Open Manage Rentals sub-menu" class="pfs__sc-1psx3f8-0 eyrDW"><span class="VisuallyHidden-c11n-8-100-6__sc-t8tewe-0 iYHcPE">Open Manage Rentals sub-menu</span>
                        <svg viewBox="0 0 32 32" aria-hidden="true" focusable="false" role="img" class="Icon-c11n-8-100-6__sc-13llmml-0 jlRhlp">
                            <path stroke="none" d="M29.41 8.59a2 2 0 00-2.83 0L16 19.17 5.41 8.59a2 2 0 00-2.83 2.83l12 12a2 2 0 002.82 0l12-12a2 2 0 00.01-2.83z"></path>
                        </svg>
                    </button>
                    <div data-za-label="Manage Rentals">
                        <div class="pfs__xukzw9-0 bTwlyA">
                            <div data-zg-role="drop-down-content" class="pfs__xukzw9-1 gSaOWc">
                                <ul class="pfs__xukzw9-2 ccTjfY">
                                    <li><h6 class="pfs__sc-1449t2l-0 devUbu">Rental Management Tools</h6>
                                        <ul class="pfs__c1z80u-0 kkneuv">
                                            <li>
                                                <ul class="pfs__ryrjop-0 MtKQu">
                                                    <li><a href="/rental-manager/post-a-listing/?itc=ltr_zw_ltr_zrm-home_tpnv_post-a-listing" rel="" data-za-action="List a rental" data-za-label="!inherit" data-za-category="!inherit" id="list_a_rental"
                                                           class="Anchor-c11n-8-100-6__sc-hn4bge-0 pfs__ulmj52-0 dXQUgD gBaTsW"><span>List a rental </span></a></li>
                                                    <li><a href="/rental-manager/select-property?type=listings&amp;source=topnav&amp;itc=postbutton_topnav" rel="" data-za-action="My Listings" data-za-label="!inherit" data-za-category="!inherit" id="my_listings"
                                                           class="Anchor-c11n-8-100-6__sc-hn4bge-0 pfs__ulmj52-0 dXQUgD gBaTsW"><span>My Listings </span></a></li>
                                                    <li><a href="/rental-manager/inbox/" rel="" data-za-action="Messages" data-za-label="!inherit" data-za-category="!inherit" id="messages" class="Anchor-c11n-8-100-6__sc-hn4bge-0 pfs__ulmj52-0 dXQUgD gBaTsW"><span>Messages </span></a></li>
                                                    <li><a href="/rental-manager/select-property?type=applications&amp;source=topnav&amp;itc=postbutton_topnav" rel="" data-za-action="Applications" data-za-label="!inherit" data-za-category="!inherit" id="applications"
                                                           class="Anchor-c11n-8-100-6__sc-hn4bge-0 pfs__ulmj52-0 dXQUgD gBaTsW"><span>Applications </span></a></li>
                                                    <li><a href="/rental-manager/select-property?type=leases&amp;source=topnav&amp;itc=postbutton_topnav" rel="" data-za-action="Leases" data-za-label="!inherit" data-za-category="!inherit" id="leases"
                                                           class="Anchor-c11n-8-100-6__sc-hn4bge-0 pfs__ulmj52-0 dXQUgD gBaTsW"><span>Leases </span></a></li>
                                                    <li><a href="/rental-manager/select-property?type=payments&amp;source=topnav&amp;itc=postbutton_topnav" rel="" data-za-action="Payments" data-za-label="!inherit" data-za-category="!inherit" id="payments"
                                                           class="Anchor-c11n-8-100-6__sc-hn4bge-0 pfs__ulmj52-0 dXQUgD gBaTsW"><span>Payments </span></a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><h6 class="pfs__sc-1449t2l-0 devUbu">Learn More</h6>
                                        <ul class="pfs__c1z80u-0 kkneuv">
                                            <li>
                                                <ul class="pfs__ryrjop-0 MtKQu">
                                                    <li><a href="/rental-manager/?source=topnav&amp;itc=list_zrm_topnav" rel="" data-za-action="Zillow Rental Manager" data-za-label="!inherit" data-za-category="!inherit" id="zrm"
                                                           class="Anchor-c11n-8-100-6__sc-hn4bge-0 pfs__ulmj52-0 dXQUgD gBaTsW"><span>Zillow Rental Manager </span></a></li>
                                                    <li><a href="/rental-manager/price-my-rental/?itc=ltr_zw_ltr_zrm-home_tpnv_price-my-rental" rel="" data-za-action="Price My Rental" data-za-label="!inherit" data-za-category="!inherit" id="price_my_rental"
                                                           class="Anchor-c11n-8-100-6__sc-hn4bge-0 pfs__ulmj52-0 dXQUgD gBaTsW"><span>Price My Rental </span></a></li>
                                                    <li><a href="/rental-manager/resources/" rel="" data-za-action="Resource Center" data-za-label="!inherit" data-za-category="!inherit" id="resource_center"
                                                           class="Anchor-c11n-8-100-6__sc-hn4bge-0 pfs__ulmj52-0 dXQUgD gBaTsW"><span>Resource Center </span></a></li>
                                                    <li><a href="https://help.zillowrentalmanager.com/hc/en-us/" rel="" data-za-action="Help Center" data-za-label="!inherit" data-za-category="!inherit" id="help_center" class="Anchor-c11n-8-100-6__sc-hn4bge-0 pfs__ulmj52-0 dXQUgD gBaTsW"><span>Help Center </span></a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="pfs__sc-585qe5-0"><a class="Anchor-c11n-8-100-6__sc-hn4bge-0 pfs__sc-1dpbk03-0 dXQUgD bwzhb" href="/z/partners/advertise/" data-za-action="Advertise" data-za-category="!inherit" data-active="false" data-zg-role="section-title"><span>Advertise<!-- --> </span></a></li>
            </ul>
            <ul data-zg-section="help" data-display-my-zillow="true" class="help_signinList">
                <li class="pfs__sc-585qe5-0">
                    <a class="Anchor-c11n-8-100-6__sc-hn4bge-0 pfs__sc-1dpbk03-0 dXQUgD bwzhb" href="https://zillow.zendesk.com/hc/en-us/" data-za-action="Help" data-za-category="!inherit" data-active="false" data-zg-role="section-title">
                        <span>Help<!-- --> </span>
                    </a>
                </li>
                <li class="pfs__sc-585qe5-0">
                    <a class="Anchor-c11n-8-100-6__sc-hn4bge-0 pfs__sc-1dpbk03-0 dXQUgD bwzhb" href="/user/acct/login/?cid=pf" data-za-action="Sign in" data-za-category="!inherit" data-active="false" data-zg-role="section-title">
                        <div class="pfs__sc-1etb9mm-1 jBqzjp">Sign In</div>
                    </a>
                </li>
                <li class="pfs__sc-585qe5-0"><a class="Anchor-c11n-8-100-6__sc-hn4bge-0 pfs__sc-1dpbk03-0 dXQUgD bwzhb" href="/user/acct/register/?cid=pf" data-za-action="Join" data-za-category="!inherit" data-active="false" data-zg-role="section-title"><span>Join<!-- --> </span></a></li>
            </ul>

        </div>
    </nav>
</header>
